#
# {{ ansible_managed }}
#

{% if backuppc_rsync_share_names is defined and backuppc_rsync_share_names | length > 0 %}
$Conf{RsyncShareName} = [

{% for share in backuppc_rsync_share_names %}
	'{{ share }}'{% if not loop.last %},{% endif %}
{% endfor %}
];
{% endif %}

{% if backuppc_include_files is defined and backuppc_include_files | length > 0 %}
$Conf{BackupFilesOnly} = {'*' => [

{% for item in backuppc_include_files %}
		'{{ item }}'{% if not loop.last %},{% endif %}
{% endfor %}
	]
};
{% endif %}

{% if backuppc_exclude_files is defined and backuppc_exclude_files | length > 0 %}
$Conf{BackupFilesExclude} = {
	'*' => [
{% for item in backuppc_exclude_files %}
		'{{ item }}'{% if not loop.last %},{% endif %}

{% endfor %}
	]
};
{% endif %}

$Conf{XferMethod} = '{{ backuppc_xfermethod | default("rsync", true) }}';

$Conf{ClientCharsetLegacy} = 'utf-8';

$Conf{RsyncClientCmd} = '{{ backuppc_RsyncClientCmd }}';
$Conf{RsyncClientRestoreCmd} = '{{ backuppc_RsyncClientRestoreCmd }}';

{% if backuppc_scripts is defined and backuppc_scripts %}

$Conf{DumpPreUserCmd} = '{{ backuppc_DumpPreUserCmd }}';

$Conf{DumpPostUserCmd} = '{{ backuppc_DumpPostUserCmd }}';

{% endif %}

{% if backuppc_db_server_type is defined and backuppc_db_server_type == 'pgsql' %}

$Conf{DumpPreUserCmd} = '{{ backuppc_DumpPreUserCmd }}';

$Conf{DumpPostUserCmd} = '{{ backuppc_DumpPostUserCmd }}';

{% endif %}

{% if backuppc_more is defined and backuppc_more | length > 0 %}
# More options...
{% for key, value in backuppc_more.items() %}
{% if value is string or value is number %}
$Conf{{ '{' }}{{ key }}{{ '}' }} = '{{ value }}';
{% else %}
$Conf{{ '{' }}{{ key }}{{ '}' }} = [
  {% for i in value %}'{{ i }}'{% if not loop.last %}, {% endif %}
{% endfor %}

];

{% endif %}
{% endfor %}
{% endif %}
