#!/bin/bash

PGPASSWORD="{{ backuppc_db_dump_user_pass }}" pg_dump -h localhost -p 5432 -U {{ backuppc_db_dump_user }} -Fc {{ backuppc_db_to_dump_name }} > dbdump.pgsql;

tar -czvf dump.sql.tar.gz *.pgsql

rm *.pgsql
